<!-- INÍCIO DO CONTEÚDO -->
<div class="secao">
  <h4 class="text-center">
      Neste  app  é possível pesquisar e visualizar listas de ofertas para restaurantes e diversões,
       as quais é possível adicionar à um carrinho. Por fim, no carrinho, é possível efetuar o 
       pedido dos itens escolhidos.

      Para instalar
      Você deve possuir o node.js, Angular CLI e o json-server
      Baixe e extraia o .zip do projeto pasta distProd, abra um terminal, vá até a pasta que 
      você extraiu e execute o comando npm install
      Após execute o comando ng serve
      Inicie o servidor rest fake do json-server executando o comando: 
                    json-server --watch .\db\banco-de-dados.json
      Pronto! Acesse no navegador o projeto por: http://localhost:4200

    !</h4>
  <h5 class="text-center">LinkedIn:(<a href="https://www.linkedin.com/in/mfrankikaocruz/">https://www.linkedin.com/in/mfrankikaocruz/</a></h5>
  <h5 class="text-center">Repositorio github: (<a href="https://github.com/mfrankika ">https://github.com/mfrankika </a></h5>
</div>


  
<!-- FIM DO CONTEÚDO -->