div.ordem-compra {
  padding: 50px 0 150px;
}
.ordem-box {
  background: #FAFAFA;
  padding: 20px;
  border-bottom: solid 1px #F0F0F0;
}

input.ng.invalid.ng-touched  {
  border: 1px solid red;
}

select.ng.invalid.ng-touched {
  border: 1px solid green;
}

input.ng.invalid.ng-touched  {
  border: 1px solid green;
}
