<!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
        <h1>Sobre</h1>
      </section>

      <section class="content">
          <p class="lead">
            Meat | Aplicação que demonstra as features do Angular
          </p>
          <p class="lead">
            MIT license
          </p>
          <p class="lead">Projeto Estudo - Angular versao 4 atualizado para 7 </p>
          <p class="lead">LinkedIn:(<a href="https://www.linkedin.com/in/mfrankikaocruz/">https://www.linkedin.com/in/mfrankikaocruz/</a>)</p>          
          <p class="lead">Repositorio github: (<a href="https://github.com/mfrankika ">https://github.com/mfrankika </a>)</p>
          <p class="lead">Estudo prioridade carrinho de compras </p>
          <p class="lead">Uso requisições HTTP atraves de API Rest / uso json-server  </p>
          <p class="lead">
            Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
          </p>

        </section>
    <!-- FIM DO CONTEÚDO -->
